<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <connectionStrings>
    <add name="SCrawlerEntities" connectionString="metadata=res://*/SDataModel.csdl|res://*/SDataModel.ssdl|res://*/SDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-SN6CM2N\sqlexpress;initial catalog=SCrawler;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <appSettings>
    <!-- SETTINGS -->
    <add key="numberOfPages" value="1" />

    <!-- EXCEL FILE LOCATION ON PC -->
    <add key="filePath" value="C:\Users\musse\source\repos\SCrawler" />
    
    <!-- EMAIL -->
    <add key="sendGridKey" value="" />
    <add key="templatePath" value="C:\Users\musse\source\repos\SCrawler\SCrawler\emailTemplate.html" />
    <add key="mailFrom" value="info@SCrawler.gr;SCrawler" />
    <add key="mailTo" value="" /><!-- SEAPRATED WITH ; -->
    <add key ="mailToName" value="MichalisGmail;MichalisYahoo" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>